<?php

// uncomment the following to define a path alias
// Yii::setPathOfAlias('local','path/to/local-folder');

// This is the main Web application configuration. Any writable
// CWebApplication properties can be configured here.
return array(
	'basePath' => dirname(__FILE__) . DIRECTORY_SEPARATOR . '..',
	'name' => 'Solena',

	// preloading 'log' component
	'preload' => array('log', 'ldap'),

	// autoloading model and component classes
	'import' => array(
		'application.models.*',
		'application.components.*',
		'application.validators.*',
		'ext.ldapsuite.*',
		'ext.yii-mail.*',
		'application.vendors.PEAR.*',
	),

	'modules' => array(),

	// application components
	'components' => array(
		'user' => array(
			'class' => 'WebUser',
			'autoUpdateFlash' => false,
		),
		'authManager' => array(
			'class' => 'PhpAuthManager',
		),
		'format' => array(
			'class' => 'application.components.Formatter',
			'dateFormat' => 'dd/MM/yyyy',
		),
		'request' => array(
			'enableCookieValidation' => true,
			'enableCsrfValidation' => true,
		),
		'securityManager' => array(
			'cryptAlgorithm' => 'rijndael-256',
		),
		/*
		'urlManager'=>array(
			'urlFormat'=>'path',
			'rules'=>array(
				'<controller:\w+>/<id:\d+>'=>'<controller>/view',
				'<controller:\w+>/<action:\w+>/<id:\d+>'=>'<controller>/<action>',
				'<controller:\w+>/<action:\w+>'=>'<controller>/<action>',
			),
		),
		*/
		'ldap' => array(
			'class' => 'SLdapServer',
			'baseDn' => 'dc=kde,dc=org',
			'bindDn' => 'cn=Sysadmin,dc=kde,dc=org',
			'bindPassword' => '',
			'operateAsUser' => true,
		),
		'db' => array(
			'connectionString' => 'mysql:host=localhost;dbname=testdrive',
			'emulatePrepare' => true,
			'username' => 'root',
			'password' => '',
			'charset' => 'utf8',
		),
		'mail' => array(
			'class' => 'ext.yii-mail.YiiMail',
			'transportType' => 'php',
			'viewPath' => 'application.views.mail',
		),
		'errorHandler' => array(
			'errorAction' => 'site/error',
		),
		'log' => array(
			'class' => 'CLogRouter',
			'routes' => array(
				array(
					'class' => 'CFileLogRoute',
					'levels' => 'error, warning',
				),
			),
		),
	),

	// application-level parameters
	'params' => array(
		'adminEmail' => 'webmaster@example.com',
		'registrationUnit' => 'ou=people,dc=kde,dc=org',
		'defaultGroup' => 'users',
	),
);